<?xml version="1.0"?>
<robot name="rb_theron"
	xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import differential base elements -->
	<xacro:include filename="$(find rb_theron_description)/robots/rb_theron_base.urdf.xacro" />
	
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
	
	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->
	<!-- Prefix of robot frames -->
	<xacro:arg name="prefix" default="robot_"/>

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->


	<!-- Here we create the robot elements using the xacro:macros imported at the beggining of this file -->
	<!-- base with wheels -->
	<xacro:rb_theron_base prefix="$(arg prefix)" hq="${hq}" />
</robot>
